{{- with . -}}
{{- $link := index . "link" -}}
{{- $id := partial "_image_id.html" $link -}}
{{- $klass := index . "klass" -}}
<figure class="prominent {{ $klass }}" id="{{ $id }}" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
    <link itemprop="url" href="{{ $link }}" rel="preload" as="image"> 
    <img itemprop="image" src="{{ $link }}" alt="{{ index . "alt" }}" onclick="expandPic(event, 'expanded')">
    {{- if or ( $cap := index . "cap" ) ( index . "authors" ) -}}
    <figcaption>
        {{- $cap  }}
        {{ with index . "authors" -}} / {{ range . }}{{ or (T .) . }}{{ end }}{{ end }}
    </figcaption>
    {{- end -}}
</figure>
{{- end -}}
